body {
    font-family: 'Ubuntu Mono', monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

.logo {
    font-family: 'Montez', cursive;
    font-size: 2.5em;
}

.subheading {
    font-size: 1.2em;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
}

.blue-btn {
    background-color: blue;
    color: white;
}

.main-buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.main-btn {
    background-color: orange;
    color: white;
    margin: 0 10px;
    padding: 20px 30px;
}


body {
    background-color: #ffeedd;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.post-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 45%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.post-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    font-weight: bold;
}

.post-options, .delete-post {
    cursor: pointer;
    margin-left: 10px;
}

.post-title {
    margin: 10px 0;
    font-size: 1.5em;
}

.post-content {
    color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.red-btn {
    background-color: red;
    color: white;
}
